.add-flat {

    td {
        display: block;
        text-align: center;
        float: left;

        &:first {
            padding-left: 0;
        }
    }

    input,
    select {
        height: auto;
        font-size: 11px;
    }

    button {
        font-size: 12px;
    }


    h3 {
        margin-bottom: 5px;
    }
}

.add-flat .add-flat-btn {
    margin-top: .5em;
    margin-bottom: .5em;
}

.add-flat .close-flat-btn {
    margin-top: -.65em;
}