.single-flat-list-element {
    td {
        &:nth-child(2) {
            input {
                width: 66px;
            }
        }

        &:nth-child(3) {
            input {
                width: 66px;
            }
        }

        &:nth-child(6) {
            input {
                width: 52px;
            }
        }

        &:nth-child(8) {
            input {
                width: 48px;
            }
        }


    }
}