.flats-list-table {
    tr {}

    td {
        text-align: center;
    }

    th {
        text-align: center;

        a {
            span {
                display: contents;
            }
        }
    }
}