.flats-list-table {
    tr {

        input,
        select,
        .button {
            font-size: 11px;
        }
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;

        a {
            span {
                display: contents;
            }
        }
    }
}